<header class="navbar navbar-expand-lg">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Pizzas</span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Productos <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="verUsuarios()">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="verOrdenes()">Ordenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="verDirecciones()">Direcciones</a>
              </li>
            </ul>
          </div>
      </div>
      
  </header>
  <br>
  <br>
